@import '../../App.scss';
.feed {
    padding: $pd;
    height: calc(100vh - #{$height-header});
    overflow-y: auto;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: transparent;
        background-color: transparent;
        border-radius: 10px;
    }

    &::-webkit-scrollbar {
        // width: 10px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }
}
