@import '../../App.scss';
.body {
    position: relative;
    top: $height-header;
    padding: 0 $pd;
    display: flex;
    .sideBar {
        flex: 2;
    }
    .feed {
        flex: 5;
    }
    .rightBar {
        flex: 2;
    }
}
