$primary-color: #163ffc;
$important-color: #0000c9;
$second-color: #e8e9fd;
$height-header: 59px;
$pd: 40px;
$br: 0.5rem;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: $second-color;
}
